<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Echobond_API</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>isLog4jAutoInitializationDisabled</param-name>
    <param-value>true</param-value>
  </context-param>
  <context-param>
    <param-name>log4jConfiguration</param-name>
    <param-value>file:///C:/log4j2.xml</param-value>
  </context-param>
  <context-param>
    <param-name>SMTPUsername</param-name>
    <param-value>server</param-value>
  </context-param>
  <context-param>
    <param-name>SMTPPass</param-name>
    <param-value>uh97ChRmXh</param-value>
  </context-param>
  <context-param>
    <param-name>SMTPServer</param-name>
    <param-value>smtp.zoho.com</param-value>
  </context-param>
  <context-param>
    <param-name>SMTPValidation</param-name>
    <param-value>true</param-value>
  </context-param>
  <context-param>
    <param-name>SMTPPort</param-name>
    <param-value>465</param-value>
  </context-param>
  <context-param>
    <param-name>domain</param-name>
    <param-value>echobond.com</param-value>
  </context-param>
  <context-param>
    <param-name>imgPath</param-name>
    <param-value>\image</param-value>
  </context-param>
  <context-param>
    <param-name>avtPath</param-name>
    <param-value>\avatar</param-value>
  </context-param>
  <listener>
    <listener-class>org.apache.logging.log4j.web.Log4jServletContextListener</listener-class>
  </listener>
  <listener>
    <listener-class>com.echobond.listener.ContextListener</listener-class>
  </listener>
  <listener>
    <listener-class>com.echobond.listener.RequestListener</listener-class>
  </listener>
  <listener>
    <listener-class>com.echobond.listener.SessionListener</listener-class>
  </listener>
  <filter>
    <filter-name>log4jServletFilter</filter-name>
    <filter-class>org.apache.logging.log4j.web.Log4jServletFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>log4jServletFilter</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>ERROR</dispatcher>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>SignUpServlet</display-name>
    <servlet-name>SignUpServlet</servlet-name>
    <servlet-class>com.echobond.servlet.SignUpServlet</servlet-class>
    <init-param>
      <param-name>expireDuration</param-name>
      <param-value>7200000</param-value>
    </init-param>
    <init-param>
      <param-name>codeLength</param-name>
      <param-value>4</param-value>
    </init-param>
    <init-param>
      <param-name>emailSubject</param-name>
      <param-value>EchoBond Email Verification</param-value>
    </init-param>
    <init-param>
      <param-name>htmlTemplate</param-name>
      <param-value>\html\verifyEmail.html</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <description></description>
    <display-name>SignInServlet</display-name>
    <servlet-name>SignInServlet</servlet-name>
    <servlet-class>com.echobond.servlet.SignInServlet</servlet-class>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet>
    <description></description>
    <display-name>AccountActiveServlet</display-name>
    <servlet-name>AccountActiveServlet</servlet-name>
    <servlet-class>com.echobond.servlet.AccountActiveServlet</servlet-class>
    <init-param>
      <param-name>expireDuration</param-name>
      <param-value>7200000</param-value>
    </init-param>
    <load-on-startup>3</load-on-startup>
  </servlet>
  <servlet>
    <description></description>
    <display-name>ResetPassServlet</display-name>
    <servlet-name>ResetPassServlet</servlet-name>
    <servlet-class>com.echobond.servlet.ResetPassServlet</servlet-class>
    <init-param>
      <param-name>emailSubject</param-name>
      <param-value>EchoBond Password Reset</param-value>
    </init-param>
    <init-param>
      <param-name>htmlTemplate</param-name>
      <param-value>\html\resetPassEmail.html</param-value>
    </init-param>
    <init-param>
      <param-name>expireDuration</param-name>
      <param-value>7200000</param-value>
    </init-param>
    <init-param>
      <param-name>codeLength</param-name>
      <param-value>8</param-value>
    </init-param>
    <load-on-startup>4</load-on-startup>
  </servlet>
  <servlet>
    <description></description>
    <display-name>ConfirmPassResetServlet</display-name>
    <servlet-name>ConfirmPassResetServlet</servlet-name>
    <servlet-class>com.echobond.servlet.ConfirmPassResetServlet</servlet-class>
    <init-param>
      <param-name>emailSubject</param-name>
      <param-value>EchoBond Password Reset</param-value>
    </init-param>
    <init-param>
      <param-name>htmlTemplate</param-name>
      <param-value>\html\newPassEmail.html</param-value>
    </init-param>
    <init-param>
      <param-name>passLength</param-name>
      <param-value>8</param-value>
    </init-param>
    <init-param>
      <param-name>expireDuration</param-name>
      <param-value>7200000</param-value>
    </init-param>
    <load-on-startup>5</load-on-startup>
  </servlet>
  <servlet>
    <description></description>
    <display-name>RecordUserActionServlet</display-name>
    <servlet-name>RecordUserActionServlet</servlet-name>
    <servlet-class>com.echobond.servlet.RecordUserActionServlet</servlet-class>
    <load-on-startup>6</load-on-startup>
  </servlet>
  <servlet>
    <description></description>
    <display-name>FBSignInServlet</display-name>
    <servlet-name>FBSignInServlet</servlet-name>
    <servlet-class>com.echobond.servlet.FBSignInServlet</servlet-class>
    <load-on-startup>7</load-on-startup>
  </servlet>
  <servlet>
    <description></description>
    <display-name>PostThoughtServlet</display-name>
    <servlet-name>PostThoughtServlet</servlet-name>
    <servlet-class>com.echobond.servlet.PostThoughtServlet</servlet-class>
    <load-on-startup>8</load-on-startup>
  </servlet>
  <servlet>
    <description></description>
    <display-name>LoadThoughtsServlet</display-name>
    <servlet-name>LoadThoughtsServlet</servlet-name>
    <servlet-class>com.echobond.servlet.LoadThoughtsServlet</servlet-class>
    <load-on-startup>9</load-on-startup>
  </servlet>
  <servlet>
    <description></description>
    <display-name>LoadUsersServlet</display-name>
    <servlet-name>LoadUsersServlet</servlet-name>
    <servlet-class>com.echobond.servlet.LoadUsersServlet</servlet-class>
    <load-on-startup>10</load-on-startup>
  </servlet>
  <servlet>
    <description></description>
    <display-name>ImageUploadServlet</display-name>
    <servlet-name>ImageUploadServlet</servlet-name>
    <servlet-class>com.echobond.servlet.ImageUploadServlet</servlet-class>
    <init-param>
    	<param-name>localPath</param-name>
    	<param-value>E:/</param-value>
    </init-param>    
    <load-on-startup>11</load-on-startup>
  </servlet>
  <servlet>
    <description></description>
    <display-name>UpdateTagsServlet</display-name>
    <servlet-name>UpdateTagsServlet</servlet-name>
    <servlet-class>com.echobond.servlet.UpdateTagsServlet</servlet-class>
    <load-on-startup>12</load-on-startup>
  </servlet>
  <servlet>
    <description></description>
    <display-name>UpdateGroupServlet</display-name>
    <servlet-name>UpdateGroupServlet</servlet-name>
    <servlet-class>com.echobond.servlet.UpdateGroupServlet</servlet-class>
    <load-on-startup>13</load-on-startup>
  </servlet>
  <servlet>
    <description></description>
    <display-name>UpdateCategoryServlet</display-name>
    <servlet-name>UpdateCategoryServlet</servlet-name>
    <servlet-class>com.echobond.servlet.UpdateCategoryServlet</servlet-class>
    <load-on-startup>14</load-on-startup>
  </servlet>
  <servlet>
    <description></description>
    <display-name>LoadCategoriesServlet</display-name>
    <servlet-name>LoadCategoriesServlet</servlet-name>
    <servlet-class>com.echobond.servlet.LoadCategoriesServlet</servlet-class>
    <load-on-startup>15</load-on-startup>
  </servlet>
  <servlet>
    <description></description>
    <display-name>LoadGroupsServlet</display-name>
    <servlet-name>LoadGroupsServlet</servlet-name>
    <servlet-class>com.echobond.servlet.LoadGroupsServlet</servlet-class>
    <load-on-startup>16</load-on-startup>
  </servlet>
  <servlet>
    <description></description>
    <display-name>LoadTagsServlet</display-name>
    <servlet-name>LoadTagsServlet</servlet-name>
    <servlet-class>com.echobond.servlet.LoadTagsServlet</servlet-class>
    <load-on-startup>17</load-on-startup>
  </servlet>
  <servlet>
    <description></description>
    <display-name>ImageDownloadServlet</display-name>
    <servlet-name>ImageDownloadServlet</servlet-name>
    <servlet-class>com.echobond.servlet.ImageDownloadServlet</servlet-class>
    <init-param>
    	<param-name>localPath</param-name>
    	<param-value>C:/images/</param-value>
    </init-param>
    <load-on-startup>18</load-on-startup>
  </servlet>
  <servlet>
    <description></description>
    <display-name>TestServlet</display-name>
    <servlet-name>TestServlet</servlet-name>
    <servlet-class>com.echobond.servlet.TestServlet</servlet-class>
    <load-on-startup>19</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUpServlet</servlet-name>
    <url-pattern>/SignUpServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SignInServlet</servlet-name>
    <url-pattern>/SignInServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AccountActiveServlet</servlet-name>
    <url-pattern>/AccountActiveServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ResetPassServlet</servlet-name>
    <url-pattern>/ResetPassServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ConfirmPassResetServlet</servlet-name>
    <url-pattern>/ConfirmPassResetServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RecordUserActionServlet</servlet-name>
    <url-pattern>/RecordUserActionServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FBSignInServlet</servlet-name>
    <url-pattern>/FBSignInServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PostThoughtServlet</servlet-name>
    <url-pattern>/PostThoughtServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoadThoughtsServlet</servlet-name>
    <url-pattern>/LoadThoughtsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoadUsersServlet</servlet-name>
    <url-pattern>/LoadUsersServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ImageUploadServlet</servlet-name>
    <url-pattern>/ImageUploadServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateTagsServlet</servlet-name>
    <url-pattern>/UpdateTagsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateGroupServlet</servlet-name>
    <url-pattern>/UpdateGroupServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateCategoryServlet</servlet-name>
    <url-pattern>/UpdateCategoryServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoadCategoriesServlet</servlet-name>
    <url-pattern>/LoadCategoriesServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoadGroupsServlet</servlet-name>
    <url-pattern>/LoadGroupsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoadTagsServlet</servlet-name>
    <url-pattern>/LoadTagsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TestServlet</servlet-name>
    <url-pattern>/TestServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ImageDownloadServlet</servlet-name>
    <url-pattern>/ImageDownloadServlet</url-pattern>
  </servlet-mapping>
</web-app>